html {
    background-color: gray;
    margin: 0;
}

h1 {
    text-align: center;
}

#about {
    margin-left: 8rem;
    margin-right: 8rem;

    h2 {
        text-align: center;
    }

    section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem
    }
}