html {
  background-color: white;
  font-family: 'sans-serif', sans-serif;
  margin: 0;
}

h1 {
  background-image: url('Imagens/Logo pet-love.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 150px;
  margin: 0;
}

h2 {
  background-image: url('Imagens/Frase.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
}

nav {
  background-color: rgb(34, 69, 121);
  padding: 1rem 0;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

nav li {
  display: inline;
  margin: 0 30px;
}

nav a {
  color: rgb(249, 249, 250);
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  transition: color 0.3s ease;
}

nav a:hover {
  color: rgb(1, 47, 53);
}

#about {
  padding: 0rem 8rem;
}

#about section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

#about article {
  padding: 1.4rem;
  border-radius: 10px;
  font-style: italic;
  color: #141414;
  text-align: center;
}

#about article img {
  max-width: 60%;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

.form-container {
  padding: 2.4rem 1rem;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 0.5rem;
  color: #2a06f3;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 2px;
  background-color: rgb(34, 69, 121);
}

fieldset {
  border: 1px solid #dbdedf;
  border-radius: 2px;
  padding: 1.5px;
  margin-bottom: 1rem;
  color: rgb(239, 241, 241);
}

label {
  color: white;
  margin-bottom: 0.5rem;
  display: block;
  text-align: left;
  font-size: 1rem;
}

button[type="submit"] {
  display: block;
  width: 80%;
  padding: 1rem;
  background-color: #a2e2d8;
  color: #000000;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

footer {
  color: rgb(12, 12, 12);
  background-color: white;
  font-size: 16px;
  text-align: center;
  padding: 1rem;
}